body{
	margin: 0px;
}

.container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 300vh;
	max-width: 100vw;
	background-color: rgb(100 100 100);
}

.img-div{
	width: 33.33333%;
}

.image{
	display: block;
	width: 100%;
}

@media ( max-width: 1200px){
	.container{
		max-height: 600vh;
	}

	.img-div{
		width: 50%;
	}
}

@media ( max-width: 922px){
	.container{
		flex-wrap: nowrap;
	}

	.img-div{
		width: 100%;
	}
}