body{
	margin: 0px;
}

.container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 2000px;
	max-width: 100%;
	background-color: rgb(100 100 100);
}

.img{
	width: 33.33333%;
	padding: 0px;
	margin: 0px;
}

img{
	display: block;
	width: 100%;
}

@media ( max-width: 1200px){
		.container{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		max-height: 3000px;
		max-width: 100%;
		
	}

	.img{
		width: 50%;
		padding: 0px;
		margin: 0px;
	}

	img{
		display: block;
		width: 100%;
	}
}

@media ( max-width: 922px){
	.container{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	max-width: 100%;
	}

	.img{
		width: 100%;
		padding: 0px;
		margin: 0px;
	}

	img{
		display: block;
		width: 100%;
	}
}